.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  font-size: large;
  max-width: 350px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.description {
  color: #555;
  margin-bottom: 16px;
}

.owner {
  display: flex;
  align-items: center;
}

.ownerLogin {
  font-size: 0.8rem;
  margin-right: 8px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.languageText {
  font-size: 10px;
}

@media screen and (max-width: 764px) {
  .card {
    padding: 12px;
    font-size: medium;
  }
  .title {
    font-size: 14px;
  }
}
